<h1 class="text-center my-5">Votre Panier</h1>
<div class="container mt-5">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Produit</th>
            <th scope="col">Quantité</th>
            <th scope="col">Prix</th>
          </tr>
        </thead>
        <tbody>
        <% @cart.items.each do |i| %>
          <tr>
            <td scope="row"><%= i.title %></th>
            <td><%= i.join_table_items_carts.find_by(item_id:i.id).quantity %> </td>
            <td><%= i.price * i.join_table_items_carts.find_by(item_id:i.id).quantity %> €</td>
            <td><strong></strong><%= link_to 'x', cart_path(i), method: :delete, class: "text-danger" %></strong></td>
          </tr> 
        <% end %>
        </tbody>
        <thead>
            <tr>
                <th scope="col">Total</th>
                <% total_quantity = 0 %>
                <% total_price = 0 %>
                <% @cart.items.each do |i| %>
                    <% total_quantity += i.join_table_items_carts.find_by(item_id:i.id).quantity %>
                    <% total_price += i.price * i.join_table_items_carts.find_by(item_id:i.id).quantity %> 
                <% end %>
                <th><%= total_quantity %></th>
                <th><%= total_price %> €</th>
            </tr>
        </thead>
      </table>
      <div class="text-center">
        <%= link_to 'Passer la commande', charges_path(:price => total_price), method: :new, class: "btn btn-success my-5" %>
    </div>
</div>

